{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>Welcome</h1>

<div>
    {% if app.user %}
        Hi {{ app.user.name }}.
        <a href="{{ logout_path() }}">Log out</a>
    {% else %}
        <a href="{{ path('app_login') }}">Log in</a> or
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
</div>

<a href="{{ path('product_index') }}">Products</a>

{% if is_granted('ROLE_USER') %}
    <a href="{{ path('app_category_index') }}">Categories</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}">Admin</a>
{% endif %}

{% endblock %}
