{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>Welcome</h1>

<div>
    {% if app.user %}
        Hi {{ app.user.name }}.
        <a href="{{ logout_path() }}">Log out</a>
    {% else %}
        <a href="{{ path('app_login') }}">Log in</a> or
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
</div>

<a href="{{ path('product_index') }}">Products</a>
<a href="{{ path('app_category_index') }}">Categories</a>

{% endblock %}
