{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<h1>Products</h1>

<a href="{{ path('product_new') }}">New Product</a>

<ul>
    {% for product in products %}
        <li>
            <h2>
                <a href="{{ path('product_show', {'id': product.id}) }}">
                    {{ product.name }}
                </a>
            </h2>
            <p>{{ product.description }}</p>
            <p>{{ product.isAvailable ? 'available' : 'unavailable' }}</p>
            {{ include("product/_categories.html.twig") }}
        </li>
    {% endfor %}
</ul>

{% endblock %}
